beautifulsoup4
chromadb
duckdb
faiss-cpu
fastapi
httpx
html5lib
jinja2
langchain
langchain-community
langchain-core
langchain-openai
scikit-learn
langchain-google-genai
langsmith
lxml
matplotlib
networkx
numpy
openai
pandas
playwright
playwright-stealth
python-dotenv
python-multipart
pydantic
requests
scipy
seaborn
tabula-py
tiktoken
uvicorn[standard]
